<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="net.autch.android.pceplayer" android:versionCode="1"
	android:versionName="1.0">
	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:debuggable="true">
		<activity android:name=".PlayingView"/>
		<activity android:label="@string/app_name" android:name=".SelectSong">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<service android:name=".PMDPlayerService">
		    <intent-filter>
		        <action android:name="net.autch.android.pceplayer.ACTION_PLAY"/>
		        <action android:name="net.autch.android.pceplayer.ACTION_PAUSE"/>
   		        <action android:name="net.autch.android.pceplayer.ACTION_RESUME"/>
   		        <action android:name="net.autch.android.pceplayer.ACTION_STOP"/>
		    </intent-filter>
		</service>
	</application>
	<uses-sdk android:minSdkVersion="11" android:targetSdkVersion="14" />
</manifest> 